body{
  width: 100wh;
  height: 90vh;
  color: honeydew;
  background: linear-gradient(-45deg, #DE6262, #FFB88C, #FF4E50, #F9D423);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
html{
  overflow-x: hidden;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
      div#preload{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-top: 25%;
        background: #f2f2f3;
        z-index: 1
      }
      div#preload h1, div#preload h2{
        text-align: center;
      }
      div#images{
        height: 5000px;
        z-index: 0;
      }
      .logo{
        z-index: 800;
        opacity: 0;
         max-height: 100%;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
        .logo2{
        z-index: 800;
        opacity: 0;
         max-height: 100%;
        width: 30%;
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%)
      }

      .myimage{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }

    
    .logo{
    width: 40%;
      position: fixed;
      left: 50%;
      top: 30%;
      color: white;
    }
    ::-webkit-scrollbar
    {
      width: 12px;
    }
    ::-webkit-scrollbar-thumb
    {
      background: #c70039;
      border-radius: 6px;
    }
    

     a:hover{
    text-decoration:none;
}
.relative {
    position: relative;
    bottom: auto;
}
#menu-toggle {
    z-index: 801;
    position: fixed;
    top: 0;
    right: .5%;
}
#sidebar-wrapper.active {
    right: 320px;
    width: 320px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 0;
}
#to-top {
    position: fixed;
    right: .2%;
    bottom: .2%;
    z-index: 799;
}

.panel {
    border-radius: 0;
    margin-top: 0;
}

.accordion-toggle{
  z-index: 801;
    position: fixed;
    top: 0;
    left: .5%;
}

.accordion-toggle:hover, .accordion-toggle:focus{
  cursor:pointer;
}

.nav-btn{
  display:block;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align:center;
}


.btn-dark{
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active{
  color: #fff;
  background-color: rgba(0,0,0,0.7);
}

@media(min-width: 768px){
  .contact-panel{
    width:50%;
  }
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
}

.logo-load{
  width: 40%;
  margin-top: 10%;
  margin-left: 30%;

}
.hola{
  position: fixed;
  font-size: 10em;
  z-index: 900;
}

.scrollDown{
  position: fixed;
  z-index: 900;
  width: 7%;
  padding-top: 40%; 
}
#splash {
  height: 100vh;
  position: fixed;
  z-index: 1000000000;
  background: black;
  width: 100%;
}

/* Section*/
.second-section{
  height: 100vh;
  padding-top:10%;
  font-family: 'Mina', sans-serif;
}

.five-section{
  padding-top: 10%;
  font-family: 'Mina', sans-serif;
}
.three-section{
  padding-top: 10%;
  font-family: 'Mina', sans-serif;
}

/*SKILLS*/
.skill-icon{
  font-size: 4em;
  padding: 0.5em;
  color:black;
}
.skill-col{
  padding: 2em;
}
.row-three{
  padding-top: 6em;
}
/*arrow down*/

.arrows {
  width: 60px;
  height: 72px;
  position: fixed;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  z-index: 10;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 3px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*SOCIAL ICON*/
.social{
  font-size: 3em;
  cursor: pointer;
  color: black;
  margin-top: 1em;
}
.color-btn{
  background: black;
  color: white;
}

.logo-splash{
  width: 35%;
  margin-top: 25%;

}
.logo-splash2{
  width: 30%;
  margin-top: 25%;
}

/*OVERLAY*/

.imagexs{
  width: 100%;
  
}

.logoxs{
      width: 70%;
    position: relative;
    top: 20%;
    left: 15%;


}
.sxlogos{
  position: relative;
  top: 20%;
}
.logo2xs{
    width: 55%;
    position: relative;
    top: 16%;
    left: 25%;
}

.sectionxs{
  position: fixed;
  background-image: url('../../images/21.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 100vh;
  width: 100%;
  overflow-y: hidden !important;    
}

/*Proyectos overlay*/
.six-section{
  padding-top: 7%;
}
.card{
   cursor: pointer;
   width: 90%;
   height: 400px;
   background:#000;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.card .image{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img{
  opacity: .5;
  transform: translateX(30%);
}
.card .details{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background:#ffc300;
  transition: .4s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details{
  transform: perspective(2000px) rotateY(0deg);

}
.card .details .center{
  padding: 20px;
  width: 100%;
  text-align: center;
  background:white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1{
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;

}
.card .details .center h1 span{
  font-size: 14px;
  color: #262626;

}
.card .details .center p{
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card .details .center ul{
  margin: 10px auto 0;
  padding: 0;
  display: table;

}
.card .details .center ul li{
  list-style: none;
  margin:0 5px;
  float: left;
}
.card .details .center ul li a{
  display: block;
  background: #262626;
  padding: 0.3em;
  color:#fff;
  width: 50px;
  line-height: 30px;
  text-align: center;
  transition: .5s;
}
.card .details .center ul li a:hover{
  background: #ff3636;

}


.padding-top{
  margin-top: 3em;
}
.content{
  z-index: 10000;;
}